{% extends "base.html" %}

{% load static %}

{% block page_header %}
<div class="container header-container" id="header-container-homepage">
</div>
{% endblock %}

{% block content %}

<div id="homepage-card" class="container col-6 bg-body-tertiary home-page-card" style="height: 15%;">
  <div class="p-5 text-center bg-image" style="
      background-image: url('https://images.pexels.com/photos/518543/pexels-photo-518543.jpeg');
      height: 400px;
    ">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3 home-page-card">Seb Raybaud, writer</h1>
          <a data-mdb-ripple-init class="btn btn-lg" id="home-writing-button"
            href="{% url 'articles' %}?sort=published_date&direction=desc" role="button">View my published work</a>
        </div>
      </div>
    </div>
  </div>

  </header>
  <hr class="my-2">
  <a>
    <div class="col-12 my-0" id="articles-card">
      <div class="row mx-auto text-center">
        <h2 my-0 py-0>
          Latest Articles
        </h2>
      </div>
      <div class="row">
        <div class="bg-image hover-zoom col-6">
          <a href="{% url 'articles' %}?sort=published_date&direction=desc">
            <img id="latest-article-image" src="{{ latest_article.image.url }}" class="w-100 h-75 latest-image" />
          </a>
          <div class="centered">
            <span>"{{ latest_article.name }}"</span>
          </div>
        </div>
  </a>
  <div class="bg-image hover-zoom col-6">
    <a href="{% url 'articles' %}?sort=published_date&direction=desc">
      <img id="second-article-image" src="{{ penultimate_article.image.url }}" class="w-100 h-75" />
    </a>
    <div Class="centered">
      <span>"{{ penultimate_article.name }}"</span>
    </div>
  </div>
</div>
<hr class="my-0 py-0">
<br>
<div class="col-12 mx-auto text-center">
</div>
<div class="row bg-body-tertiary">
  <div class="card col-6" id="blog-card">
    <div class="card-body text-center" id="blog-card-body">
      <a href="{% url 'all_posts' %}" class="home-card-links">
        <h5 class="card-title"><i>Blog</i></h5>
      </a>
    </div>
  </div>
  <div class="card col-6" id="projects-card">
    <div class="card-body">
      <a href="{% url 'send_message' %}" class="home-card-links">
        <h5 class="card-title"><i>Projects</i></h5>
      </a>
    </div>
  </div>
</div>
</div>
</div>

<!-- mobile home card display -->
<div id="mobile-home-card" class="container text-center mx-auto card">
  <div class="row">
    <h1>Seb Raybaud, writer</h1>
  </div>
  <div class="row my-3">
    <div class="col-xs-12 col-sm-3 card-body bg-body-tertiary">
      <div class="col btn">
        Published 
      </div>
    </div>
    <div class="col-xs-12 col-sm-3 card-body bg-body-tertiary">
      <div class="col btn">
        Latest 
      </div>
    </div>
    <div class="col-xs-12 col-sm-3 card-body bg-body-tertiary">
      <div class="col btn">
        Blog posts
      </div>
    </div>
    <div class="col-xs-12 col-sm-3 card-body bg-body-tertiary">
      <div class="col btn">
        Happenings
      </div>
    </div>
  </div>
  <div class="my-3">
    <img id="mobile-home-image" class="img-fluid height-50" src="{{ MEDIA_URL }}neon-not-dead.png">
  </div>
  <div>
    <img id="mobile-logo-image" src="{{ MEDIA_URL}}sr-logo-blank-bg.png">
  </div>
  <div
         class="text-center"
         >
         Copyright ©
      <span id="spanYear"></span>
      <a class="text-white" href=""
         >Sebastien Raybaud</a
        >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>
</div>

{% endblock %}