{% extends "base.html" %}

{% load static %}

{% block page_header %}
<div class="container header-container" id="header-container-homepage">
</div>
{% endblock %}

{% block content %}
<div class="container col-6 bg-body-tertiary home-page-card" style="height: 15%;">
  <div class="p-5 text-center bg-image" style="
      background-image: url('https://images.pexels.com/photos/518543/pexels-photo-518543.jpeg');
      height: 400px;
    ">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3 home-page-card">Seb Raybaud, writer</h1>
          <a data-mdb-ripple-init class="btn btn-lg" id="home-writing-button"
            href="{% url 'articles' %}?sort=published_date&direction=desc" role="button">View my published work</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
  </header>
  <hr>
  <a>
    <div class="col-12" id="articles-card">
      <div class="row mx-auto text-center">
        <h2>
          Latest Articles
        </h2>
      </div>
      <a href="{% url 'articles' %}?sort=published_date&direction=desc">
        <div style="display: flex" class="row bg-body-tertiary">
          <div class="col-6 flip-card">
            <div class="card flip-card-inner">
              <div class="card-body flip-card-front">
                <img class="card-img-top img-fluid" style="width: 100%" src="{{ MEDIA_URL }}isaac-cordal-cover.png">
              </div>
              <div id="flip-card-one-back" class="flip-card-text">      
      <p class="mx-auto">"Who is Behind the Tiny Figures Hiding in Hong Kong’s Streets?"</p>
    </div>
            </div>
          </div>
          <div class="col-6 flip-card">
          <div class="card flip-card-inner">
            <div class="card-body flip-card-two-front">
              <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}culture-and-community-cover.png">
            </div>
            <div id="flip-card-two-back" class="flip-card-text">      
      <p class="mx-auto flip-card-text-box">"Hong Kong's Centre For Refugees: Culture and Community"</p>
    </div>
          </div>
          </div>
        </div>
      </a>
      <br>
      <hr>
      <div class="col-12 mx-auto-5 text-center">
        <h2 class="mb-3">Personal Content</h1>
      </div>
      <div class="row bg-body-tertiary">
        <div class="card col-6" id="blog-card">
          <div class="card-body" id="blog-card-body">
            <a href="{% url 'all_posts' %}" class="home-card-links"> 
            <h3 class="card-title"><i>Blog</i></h3>
            </a>
          </div>
        </div>
        <div class="card col-6" id="projects-card">
          <div class="card-body">
            <a href="{% url 'send_message' %}" class="home-card-links">
            <h3 class="card-title"><i>Projects</i></h3>
            </a>
          </div>
        </div>
      </div>
    </div>
</div>


{% endblock %}