{% extends "base.html" %}

{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container col-6 bg-body-tertiary">
  <div class="col-12 mx-auto-5 text-center">
    <h1 class="mb-3">Heading</h1>
    <h4 class="mb-3">Subheading</h4>
    <a data-mdb-ripple-init class="btn btn-primary" href="" role="button">Call to action</a>
  </div>
  <div class="row">
    <div class="card bg-body-tertiary col-6">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <button type="button" class="btn btn-primary" data-mdb-ripple-init>Button</button>
  </div>
</div>
<div class="card bg-body-tertiary col-6">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <button type="button" class="btn btn-primary" data-mdb-ripple-init>Button</button>
  </div>
</div>
  </div>
</div>

{% endblock %}