<div id="main-nav" class="collapse navbar-collapse nav-bar-one">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown" aria-haspopup="true" aria-expanded="false">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'home' %}">
                Homepage
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'about' %}">
                About Me
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="all-articles-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Writing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-articles-link">
                <a href="{% url 'articles' %}?sort=published_date&direction=desc" class="dropdown-item">All Articles</a>
                <a href="{% url 'articles' %}?publication=zolima,radii,thevalue,youngpost" class="dropdown-item">By Publication</a>
                <a href="{% url 'articles' %}?category=music,videogames,current_affairs,movies_cinema,business_economics,art_photography,sports,culture,nightlife,technology,travel,history,fashion" class="dropdown-item">By Category</a>
                
            </div>
        </li>
        <li class="nav-item dropwdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'all_posts' %}">
                Blog
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white" href="{% url 'send_message' %}" aria-haspopup="true" aria-expanded="false">
                Contact
            </a>
        </li>
    </ul>
</div>