{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="row my-5">
    <div class="container col-10">
        <div class="row">
            <!-- Blog entries-->
            <div class="col-lg-8">
                <!-- Featured blog post-->
                <div class="card mb-4">
                    {% if latest_post.image %}
                    <img class="card-img-top" src="{{latest_post.image.url}}" alt="...">
                    {% else %}
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}pexels-markus-winkler-1430818-4057663.png"
                        alt="{{ product.name }}">
                    </a>
                    {% endif %}
                    <div class="card-body">
                        <h2 class="card-title">"{{ latest_post.title }}"
                        </h2>
                        <div class="small text-muted">posted on: {{ latest_post.created_on }}</div>
                        <p class="card-text original">[1] A painting depicting the great Chinese Admiral, Zheng He.
                            Welcome back. It’s been a long time since I have last written an article on here, and I
                            wanted to do something different again</p>
                        <span class="dots">...</span>
                        <p class="card-text extra">This time, I wanted to explore medieval Chinese history and in
                            particular, about the great Chinese Admiral called Zheng He (鄭和). The article is divided
                            into five main sections – discussing about Zheng He’s profile, his expeditions, his impact
                            during and after his voyages across the Asian, Indian and African shores. Finally, there
                            will be some discussion of the nature of Zheng He’s voyages. I hope you enjoy this article,
                            any constructive comments are more than welcome below!

                            1) Profile of Admiral Zheng He
                            We start this article by looking at National Geography documentary, ‘Chinese Treasure Fleet:
                            Adventures of Zheng He Documentary’. This show stars Japanese-American photographer and
                            Asian studies scholar, Michael Yamashita, who travels according to each of Zheng He routes
                            to understand the true magnitude of the voyage. I highly recommend you watching it, as it is
                            very enticing and stimulating – here is the link:
                            https://www.youtube.com/watch?v=Ckdn18SAldg.

                            I am very interested in colonial history, so I thought it would be appropriate if I
                            continued this article with something remarkable to consider. Normally, when you ask a
                            person who was the pioneer of navigation to discover and create ripples around the world for
                            more, the usual response would be Christopher Columbus, King Henry the Navigator of
                            Portugal, or perhaps, the Vikings themselves for travelling the shores of what is modern-day
                            Canada and the US. But I want to divert the focus of the Western colonial history and move
                            towards a more Oriental approach and look at our main protagonist, Zheng He.

                            Zheng He, or originally named Ma He, deriving from the Chinese version of Mohammed under the
                            influence of his Persian and Muslim roots, was born in A.D. 1371 in Jinning, near the modern
                            region of Yunnan Province. [3] When the young Ma He was only 10 years old, his dad was
                            killed in a key battle between the Yuan and Ming clans (fighting around the East coast of
                            China). [3] Consequently, captured by the victorious Ming clan, little Ma He was sent to
                            Beijing and was turned into a eunuch. Zhu Di, the Prince of Yan, was the fourth son in line.
                            Thus, many of the top eunuchs and officials refused to aid Zhu Di. This was significant, as
                            this allowed Zheng He (as I shall call him hereafter), excelling in military studies and an
                            imposing figure at what was believed to be 7 feet tall, came to the young emperor, Zhu Di’s
                            aid, becoming closer and collaborate with many domestic and foreign policies. [3, 4] For
                            example, this was shown when the both of them fought in the battle against the Mongol
                            aggressors from the North. [3]

                            2) The Seven Expeditions of Zheng He

                            [2] A map showing all seven journeys Zheng He made during c. 1405-33.
                            Throughout approximately 28 years, Zheng He travelled to many countries, including those of:

                            China
                            Hainan Island
                            Vietnam
                            Siam
                            Malaysia – Malacca Strait
                            Indonesia
                            Burma
                            India
                            Sri Lanka
                            Persia
                            Bengal
                            Maldives
                            Saudi Arabia
                            Somalia
                            Kenya
                            Mozambique

                            There were seven main expeditions that Zheng He had travelled on. Instead of listing out and
                            recounting the voyages and in what years did Zheng He visit the particular, I thought I
                            would pick out Malacca, as one of the few key areas from this list and discuss the
                            impact/foreign relations that was initiated by the Admiral himself. If you would like to
                            find out more details expedition by expedition, then do check out link 5 and 6 in the
                            references below.

                            2.1) Malacca
                            Malacca was one of the most important trading posts for the Chinese merchants. The Ming
                            Emperor Yung-lo (1402-24) was initially very strict with the commercial activities
                            externally, as he prohibited many private trading – feeling this would only augment the
                            number of pirates across the South East Asian seas. [7] However, with the main document
                            called the Yung-li Shih-lu (永樂實碌), was eventually convinced of the magnitude and
                            profitability of the Malacca kingdom’s spice trade by South Indian Muslim merchants. As
                            Chinese historian Wang Gungwu demonstrated in the Yung-li Shih-lu:

                            “The ancient rulers honoured mountains and rivers, determined the boundaries, conferred
                            nobility and set up feudal states in order to show special favour to the distant peoples and
                            demonstrate no one is left out”. [7]

                            Consequently, this was significant, as Malacca was one of the first areas for inscription
                            and special recognition by the Emperor himself. He saw Malacca as a commercial hub, but a
                            strategic one where China could expand its foreign relations within the 西洋 (literally
                            Western Ocean) or Indian Ocean. [7] Thus, the increase of missions sent by the Emperor
                            Yung-lo himself to various ports namely Java, Cochin (modern day Cambodia) and Siam
                            (Thailand).

                            3) Impact – during his voyages
                            During Zheng He’s expeditions, it was a continuation of the advanced trading and
                            shipbuilding skills that the Chinese had developed since the 8th century, way before the age
                            of Christopher Columbus. Let us start with the ship technology first. [5] The treasure
                            ships, as they came to be known, were a symbol of the advanced technologies in China. Many
                            of these ships were 400 feet long, 16 feet wide, with nine masts and 12 sails, fixed with
                            double hulls as watertight compartments. [5] Putting all these dimensions into perspective,
                            the Chinese ship was 4 to 5 times bigger than Columbus’ starship, the Santa Maria.

                            The sheer size of these ships were a statement of intent by the Chinese Ming Emperor,
                            showcasing the armada and Chinese glory to the world at large wherever they travelled to.
                            This was one of the most effective technologies that the Chinese shipbuilders had, where
                            they were could, using withstand leakage more readily. Consequently, less ships were lost
                            this way and could continue efficiently navigating and trading.

                            Another important impact that Zheng He had during his voyages was the trading he initiated.
                            As the Chinese were more commercial navigators rather than expansionist and colonial ones as
                            the time of Columbus in the late 15th and 16th centuries, many luxury items were traded with
                            many Muslim, Indian and African merchants across these travels.

                            4) Impact – after
                            Within the approximately 30 short golden years that Zheng He was commissioned to be the
                            Chinese admiral, one main trait that remained was the Chinese diaspora and spread of Chinese
                            culture into these lands themselves. [2] Today, there are major traces of Chinese population
                            across Malaysia and Singapore and many festivals commemorating the Admiral himself as a god,
                            primarily in Malaysia (Malacca), many islands scattering around Indonesia and other South
                            Eastern countries still remain to this day.

                            5) Nature of Zheng He’s voyages – colonial or commercial?
                            Contrary to common belief that Zheng He’s expeditions were positive and commercial, one
                            major question that can be raised when discussing Zheng He’s voyages, is to ask whether they
                            were out of colonial or commercial reasons. Dr Geoff Wade, an Australian scholar and fellow
                            researcher at the National University of Singapore, presented his argument that Zheng He’s
                            expeditions. [8] For example, Wade used his “majority” thesis, arguing that Zheng He’s 300
                            to 400 ships were largely warships and that with around 28,000 military troops, the
                            admiral’s incentives were in fact colonial and expansionist. [8] Conversely, other
                            historians like Tan Ta Sen disagree with Wade’s thesis; demonstrating that Zheng He in fact
                            had a variety of ships and that this military troops were in fact for self-defence against
                            pirates like Chen Zuyi (later arrested and executed by the imperial Ming court), across the
                            Indonesian shores of Palembang, guarding against valuable goods and products like jewellery,
                            silk and porcelain. [8]

                            Effectively, during the time of Admiral Zheng He, the Chinese civilisation was
                            technologically advanced with their shipbuilding skills and commercial activities with other
                            countries. Many of these inventions like the double hull technology, greatly aided the
                            Chinese fleet en masse to efficiently travel further. One of Zheng’s biggest remaining
                            traits is the huge Chinese diaspora that has primarily expanded in the Malaysian Peninsula
                            across Malaysia and Singapore. Elsewhere, his status as a great navigator and trader, has
                            made him what has been perceived as a god-like figure in Malaysian and Indonesian festivals
                            alike.

                            Furthermore, with such an overwhelming fleet, scholars like Dr Geoff Wade argued that Zheng
                            He’s expeditions were out of colonial, expansionist and influential incentives rather than
                            simply the commonly perceived positive, commercial ones. I will leave you to decide which
                            one it was and you can discover more in Leo’s Suryadinata’s edited book, Admiral Zheng He
                            and Southeast Asia in sources 7 and 8 below. Finally, I wanted to end this article by asking
                            a few reflective and counter-factual questions (as food for thought) so that it stays more
                            interesting when you finish reading. If the Chinese had continued with their expeditions:

                            1) Would Zheng He have met European travellers (the pioneers of that area – say the
                            Portuguese and Spanish)? How would that have changed the Chinese Emperor’s incentives?
                            2) And if the Chinese had more colonial interests rather than commercial/peaceful ones, how
                            much and how different would that have changed the hegemonic theatre we have today (leaving
                            the obvious point of a perhaps Chinese dominated world)?
                            3) How far would globalisation be shaped in the Chinese way, in this case?

                            Hopefully, you enjoyed your read here. It’s been far too long since my last article. If you
                            haven’t already, do check out my other articles on this site and see you soon around! 🙂

                            References
                            [1] http://southbaysail.com/uploads/3/1/5/4/3154615/2142648_orig.jpg
                            [2] https://www.youtube.com/watch?v=Ckdn18SAldg
                            [3] http://asianhistory.about.com/od/china/p/zheng_he_bio.htm
                            [4] http://www.china.org.cn/english/features/zhenhe/131897.htm
                            [5] http://afe.easia.columbia.edu/special/china_1000ce_mingvoyages.htm#voyages
                            [6] http://orias.berkeley.edu/pallop/timeline.html
                            [7] Gungwu, W., “The Opening Relations between China and Malacca, 1403-05”, Chapter 1, in
                            Suryadinata, L., Admiral Zheng He and Southeast Asia,
                            http://books.google.co.uk/books?id=08b6HCoCCaAC&printsec=frontcover&dq=zheng+he&hl=en&sa=X&ei=cai4U8rWJ4mCkwX254CwCg&ved=0CCsQ6AEwAQ#v=onepage&q=zheng%20he&f=false,
                            date of access: 06/07/2014, pages 1 to 25
                            [8] Tan, S. T., “Did Zheng He Set Out to Colonise Asia?”, Chapter 3, in Suryadinata, L.,
                            Admiral Zheng He and Southeast Asia,
                            http://books.google.co.uk/books?id=08b6HCoCCaAC&printsec=frontcover&dq=zheng+he&hl=en&sa=X&ei=cai4U8rWJ4mCkwX254CwCg&ved=0CCsQ6AEwAQ#v=onepage&q=zheng%20he&f=false,
                            date of access: 06/07/2014, pages 42 to 57</p>
                        <input type="checkbox" class="form-check" id="read-more-checkbox">
                        <label for="read-more-checkbox" class="blog-button"></label>
                    </div>
                </div>
                <!-- Nested row for non-featured blog posts-->


                <div class="row mx-auto">
                    {% for post in posts %}
                    <div class="card col-4 py-2">
                        <a href="{% url 'post_detail' post.id %}" target="_blank">
                            {% if post.image %}
                            <img class="card-img-top" src="{{ post.image.url }}" alt="..."></a>
                        {% else %}
                        <img class="card-img-top img-fluid"
                            src="{{ MEDIA_URL }}pexels-markus-winkler-1430818-4057663.png" alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body">
                            <h2 class="card-title h4">"{{ post.title }}"</h2>
                            <div class="small text-muted">posted on: {{ post.created_on }}</div>
                            <p class="card-text preview">{{ post.body }}.</p>
                            <br>
                            <a class="btn btn-primary blog-button" href="{% url 'post_detail' post.id %}">Read more
                                →</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <!-- Pagination-->
                <div class="pagination mx-auto my-3">
                    <span class="step-links">
                        {% if posts.has_previous %}
                        <a
                            href="?page=1&{{ posts.paginator.num_pages }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value|urlencode }}{% endif %}{% endfor %}">&laquo;
                            first</a>
                        <br>
                        <a
                            href="?page={{ posts.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value|urlencode }}{% endif %}{% endfor %}">previous</a>
                        {% endif %}

                        <span class="current">
                            <strong>Page {{ posts.number }} of {{ posts.paginator.num_pages }}.</strong>
                        </span>

                        {% if posts.has_next %}
                        <a
                            href="?page={{ posts.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value|urlencode }}{% endif %}{% endfor %}">next</a>
                        <br>
                        <a
                            href="?page={{ posts.paginator.num_pages }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value|urlencode }}{% endif %}{% endfor %}">last
                            &raquo;</a>
                        {% endif %}
                    </span>
                </div>


            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">
                <!-- Search widget-->
                <div class="card mb-4">
                    <div class="card-header">Search blog posts</div>
                    <div class="card-body">
                        <form method="GET" action="{% url 'all_posts' %}">
                            <div class="input-group">
                                <input class="form-control" type="text" name="q" placeholder="Enter search term..."
                                    aria-label="Enter search term..." aria-describedby="button-search">
                                <button class="btn btn-primary blog-button" id="button-search"
                                    type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Categories widget-->
                <div class="card mb-4">
                    <div class="card-header"><strong>Topics</strong></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <ul class="list-unstyled mb-0">
                                    {% for category in categories %}
                                    <li>{{ category.friendly_name }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Projects widget-->
                <div class="card mb-4 mx-auto text-center">
                    <div class="card-header mx-auto text-center"><strong>Current Projects</strong></div>
                    <img class="mx-auto pb-5" src="{{ MEDIA_URL }}neon-not-dead.png"
                        style="max-height: 500px; max-width: 50%;">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>
<script>
    document.querySelectorAll('.preview').forEach(el => {
        const words = el.textContent.trim().split(/\s+/);

        if (words.length > 25) {
            el.textContent = words.slice(0, 25).join(' ') + '…';
        }
    });
</script>



{% endblock %}