{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="card col-xs-10 col-sm6 mx-auto my-5">
    <h1>{{ post.title }}</h1>
    <div class="small text-muted">posted on: {{ post.created_on }}</div>
    <article class="my-4">
        {% if post.image %}
        <img class="img-fluid blog-image" src="{{ post.image.url }}" alt="...">
        {% else %}
        <img class="img-fluid blog-image" src="{{ MEDIA_URL }}pexels-markus-winkler-1430818-4057663.png" alt="{{ product.name }}">
        {% endif %}
        <br>
        <p class="mt-4">{{ post.body|linebreaks }}</p>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>


{% endblock %}