{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
<div id="article-searchbar" class="col-12 col-lg-4 mx-auto">
    <form method="GET" action="{% url 'articles' %}">
        <div class="input-group w-100">
            <label for="search-bar" class="sr-only">Search</label>
            <input class="form-control border border-white rounded-0" type="text" name="q" id="search-bar"
                placeholder="search all our articles">
            <div class="input-group-append">
                <button class="form-control btn btn-white border border-white rounded-0" type="submit">
                    <p class="sr-only">Search</p>
                    <span class="icon">
                        <i class="fas fa-search"></i>
                    </span>
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block content %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>

    
{% endblock %}