{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="mx-auto text-center">
    <img class="text-center"id="contact-mobile-logo-image" src="{{ MEDIA_URL}}sr-logo-blank-bg.png">
</div>
<div class="container">
<div class="col-xs-12 col-lg-6 mx-auto text-center my-5">
    <form method="POST" action="{% url 'send_message' %}" class="form">
        {% csrf_token %}
        <div class="col-xs-12 col-lg-6 mx-auto text-center">
            <h2>Feel free to reach out</h2>
            <small><i>include your name and thoughts below and I'll get back to you</i></small>
            <hr>
            <input type="text" name="sender_email" placeholder="Your email address" class="form-control my-4" required>
            <textarea rows="10" name="message_content" placeholder="Type your message here" class="form-control my-4" maxlength="500" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary blog-button">Send Message</button>
    </form>
</div>
</div>
{% endblock %}